:root {
  // colors
  --k-white: #ffffff;
  --k-primary: #212e45;
  --k-secondary: #c0c5ce;
  --k-tertiary: #626974;
  --k-point: #00b27a;
  --k-error: #ed554a;
  --k-warning: #ff941f;
  --k-info: #416ddc;
  --k-success: #07881a;
  --k-text-primary: #242628;
  --k-text-secondary: #37393f;
  --k-text-tertiary: #434851;
  --k-text-link: #416ddc;
  --k-grey-10: #f9fafa;
  --k-grey-50: #f6f7f7;
  --k-grey-100: #eff1f2;
  --k-grey-200: #e5e8eb;
  --k-grey-300: #e5e8eb;
  --k-grey-400: #a0a6ad;
  --k-grey-500: #737a82;
  --k-grey-600: #575b63;
  --k-grey-700: #4b4e53;
  --k-grey-800: #494d55;
  --k-grey-900: #3a3c3f;
  --k-grey-950: #242528;
  --k-grey-980: #1d1e20;
  --k-grey-990: #141516;
  --k-bgcolor: #f2f4f8;
  --k-bglayer02: #e7e9ef;
  --k-dark-32: rgba(14, 19, 27, 0.32);
  --k-fill-light: #ffffff;
  --k-cell-bgColor: #f2f4f8;
  --k-cell-bdColor: #dcdfe5;

  --color-blue-100: #e5f3ff;
  --color-blue-200: #d6ebff;
  --color-blue-300: #85c7ff;
  --color-blue-400: #4da9ff;
  --color-blue-50: #f5faff;
  --color-blue-500: #2b89fd;
  --color-blue-600: #146ef5;
  --color-blue-700: #114bd0;
  --color-blue-800: #123aa1;
  --color-blue-900: #0d2e77;
  --color-blue-950: #152951;
  --color-blue-opacity-12: #0a64eb1f;
  --color-blue-opacity-16: #0a64eb29;
  --color-gray-10: #f8f9fb;
  --color-gray-100: #e9ebf1;
  --color-gray-200: #e3e6ed;
  --color-gray-300: #dcdfe5;
  --color-gray-400: #c5cad3;
  --color-gray-50: #f2f4f8;
  --color-gray-500: #9fa6b2;
  --color-gray-600: #6b7280;
  --color-gray-700: #434851;
  --color-gray-800: #37393f;
  --color-gray-900: #2b2d31;
  --color-gray-950: #242628;
  --color-gray-980: #1a1b1e;
  --color-gray-990: #0a0a0b;
  --color-gray-black: #000000;
  --color-gray-overlay: #24262808;
  --color-gray-white: #ffffff;
  --color-green-100: #e1fbdf;
  --color-green-200: #cdf6ca;
  --color-green-300: #93eb8d;
  --color-green-400: #60d162;
  --color-green-50: #eefded;
  --color-green-500: #30b53e;
  --color-green-600: #07a620;
  --color-green-700: #007c0f;
  --color-green-800: #00670f;
  --color-green-900: #00530d;
  --color-green-950: #003007;
  --color-green-opacity-16: #079d1f29;
  --color-green-opacity-8: #079d1f14;
  --color-navy-100: #ebf0f9;
  --color-navy-200: #c2d2f0;
  --color-navy-300: #95b2e4;
  --color-navy-400: #6087cd;
  --color-navy-50: #f5f7fa;
  --color-navy-500: #406ab5;
  --color-navy-600: #2b57a1;
  --color-navy-700: #254883;
  --color-navy-800: #293e60;
  --color-navy-900: #212e45;
  --color-navy-930: #30343b;
  --color-navy-940: #272a30;
  --color-navy-950: #23262c;
  --color-navy-980: #181b20;
  --color-navy-opacity-16: #a4b6d529;
  --color-navy-opacity-8: #a4b6d514;
  --color-orange-100: #fff5cc;
  --color-orange-200: #ffebb8;
  --color-orange-300: #fdca72;
  --color-orange-400: #ffa929;
  --color-orange-50: #fffae5;
  --color-orange-500: #fa8e00;
  --color-orange-600: #e07b00;
  --color-orange-700: #c27b00;
  --color-orange-800: #a34c00;
  --color-orange-900: #612d00;
  --color-orange-950: #462101;
  --color-orange-opacity-16: #f58b0029;
  --color-orange-opacity-8: #f58b0014;
  --color-red-100: #ffebeb;
  --color-red-200: #ffdbdb;
  --color-red-300: #ff9d9d;
  --color-red-400: #ff6666;
  --color-red-50: #fff5f5;
  --color-red-500: #f74545;
  --color-red-600: #de3535;
  --color-red-700: #c70e0e;
  --color-red-800: #9c0d0d;
  --color-red-900: #6f1010;
  --color-red-950: #4b0606;
  --color-red-opacity-16: #e02f2f29;
  --color-red-opacity-8: #e02f2f14;
  --color-teal-100: #dbfbf0;
  --color-teal-200: #a4f6dc;
  --color-teal-300: #6aebc2;
  --color-teal-400: #2fd8a2;
  --color-teal-50: #ecfef8;
  --color-teal-500: #0abf86;
  --color-teal-600: #00b27a;
  --color-teal-700: #007c55;
  --color-teal-800: #036244;
  --color-teal-900: #045038;
  --color-teal-950: #012d1f;
  --color-teal-opacity-16: #6aebc229;
  --color-teal-opacity-8: #6aebc214;
  --opacity-dark-12: #0e131b1f;
  --opacity-dark-16: #0e131b29;
  --opacity-dark-3: #0e131b08;
  --opacity-dark-32: #0e131b52;
  --opacity-dark-50: #0e131b80;
  --opacity-dark-6: #0e131b0f;
  --opacity-dark-70: #3a3a3cb2;
  --opacity-dark-8: #0e131b14;
  --opacity-dark-80: #3a3a3ccc;
  --opacity-dark-90: #3a3a3ce5;
  --opacity-light-12: #ffffff1f;
  --opacity-light-16: #ffffff29;
  --opacity-light-3: #ffffff08;
  --opacity-light-32: #ffffff52;
  --opacity-light-50: #ffffff80;
  --opacity-light-6: #ffffff0f;
  --opacity-light-8: #ffffff14;
  --opacity-light-80: #ffffffcc;
  --opacity-light-90: #ffffffe5;

  // fontsize
  // elevation
  --k-elevation-4: 0 8px 16px rgba(0, 0, 0, 0.05);
  .k-dark {
    --k-white: #ffffff;
    --k-primary: #212e45;
    --k-secondary: #c0c5ce;
    --k-tertiary: #626974;
    --k-point: #00b27a;
    --k-error: #ed554a;
    --k-warning: #ff941f;
    --k-info: #416ddc;
    --k-success: #07881a;
    --k-text-primary: #dcdfe5;
    --k-text-secondary: #c5cad3;
    --k-text-tertiary: #9fa6b2;
    --k-text-link: #6b90ef;
    --k-grey-10: #f9fafa;
    --k-grey-50: #f6f7f7;
    --k-grey-100: #eff1f2;
    --k-grey-200: #e5e8eb;
    --k-grey-300: #e5e8eb;
    --k-grey-400: #a0a6ad;
    --k-grey-500: #737a82;
    --k-grey-600: #575b63;
    --k-grey-700: #4b4e53;
    --k-grey-800: #494d55;
    --k-grey-900: #3a3c3f;
    --k-grey-950: #242528;
    --k-grey-980: #1d1e20;
    --k-grey-990: #141516;
    --k-bgcolor: #181b20;
    --k-bglayer02: #e7e9ef;
    --k-dark-32: rgba(14, 19, 27, 0.32);
    --k-fill-light: #23262c;
    --k-cell-bgColor: #30343b;
    --k-cell-bdColor: #434851;
  }

  --k-bg-base: var(--color-gray-white);
  --k-bg-brand: var(--color-teal-100);
  --k-bg-brand-02: var(--color-navy-900);
  --k-bg-disabled: var(--color-gray-10);
  --k-bg-information: var(--color-blue-100);
  --k-bg-layer-01: var(--color-gray-50);
  --k-bg-layer-02: var(--color-gray-200);
  --k-bg-layer-03: var(--color-gray-300);
  --k-bg-nagative: var(--color-red-100);
  --k-bg-nature: var(--opacity-dark-3);
  --k-bg-nature-02: var(--opacity-dark-6);
  --k-bg-positive: var(--color-green-100);
  --k-bg-skeleton: var(--color-gray-50);
  --k-bg-warning: var(--color-orange-100);
  --k-bg-fill-dark: var(--color-gray-990);
  --k-bg-fill-information: var(--color-blue-600);
  --k-bg-fill-light: var(--color-gray-white);
  --k-bg-fill-nagative: var(--color-red-600);
  --k-bg-fill-nature: var(--color-gray-700);
  --k-bg-fill-point: var(--color-blue-600);
  --k-bg-fill-positive: var(--color-green-600);
  --k-bg-fill-primary: var(--color-teal-600);
  --k-bg-fill-quaternary: var(--color-gray-700);
  --k-bg-fill-secondary: var(--color-navy-900);
  --k-bg-fill-tertiary: var(--color-navy-600);
  --k-bg-fill-warning: var(--color-orange-500);
  --k-bg-overlay-brand-hovered: var(--color-teal-opacity-8);
  --k-bg-overlay-brand-pressed: var(--color-teal-opacity-16);
  --k-bg-overlay-dimmed: var(--opacity-dark-50);
  --k-bg-overlay-focused: var(--opacity-dark-80);
  --k-bg-overlay-hovered: var(--opacity-dark-3);
  --k-bg-overlay-hovered-emphasis: var(--opacity-dark-16);
  --k-bg-overlay-line-emphasis: var(--opacity-dark-3);
  --k-bg-overlay-pressed: var(--opacity-dark-8);
  --k-bg-overlay-pressed-emphasis: var(--opacity-dark-32);
  --k-bg-overlay-selected: var(--opacity-dark-80);
  --k-border-addition: var(--color-gray-300);
  --k-border-opacity-01: var(--opacity-dark-8);
  --k-border-opacity-02: var(--opacity-dark-12);
  --k-border-brand: var(--color-teal-600);
  --k-border-brand-emphhasis: var(--color-teal-700);
  --k-border-disabled: var(--color-gray-300);
  --k-border-emphasis: var(--color-gray-950);
  --k-border-information: var(--color-blue-600);
  --k-border-nagative: var(--color-red-600);
  --k-border-point: var(--color-blue-500);
  --k-border-positive: var(--color-green-700);
  --k-border-primary: var(--color-gray-700);
  --k-border-secondary: var(--color-gray-400);
  --k-border-tertiary: var(--color-gray-200);
  --k-border-warning: var(--color-orange-600);
  --k-components-accodian-bg: var(--color-gray-100);
  --k-components-accodian-item: var(--color-gray-500);
  --k-components-accodian-text: var(--color-gray-600);
  --k-components-popup-bg: var(--color-navy-900);
  --k-components-scroll-bar: var(--color-gray-400);
  --k-components-scroll-bg: #e7e9ef;
  --k-components-tab-bg: var(--color-gray-white);
  --k-components-tab-text: var(--color-gray-600);
  --k-components-table-btn-fill: var(--k-bg-fill-light);
  --k-components-table-cell-bg: var(--color-gray-50);
  --k-components-table-header: var(--color-gray-300);
  --k-components-footer: var(--color-gray-300);
  --k-components-switch: var(--color-gray-600);
  --k-element-black: var(--color-gray-900);
  --k-element-disabled: var(--color-gray-300);
  --k-element-information: var(--color-blue-500);
  --k-element-inverse: var(--color-gray-white);
  --k-element-nagative: var(--color-red-500);
  --k-element-nature: var(--color-gray-800);
  --k-element-point: var(--color-blue-500);
  --k-element-positive: var(--color-green-600);
  --k-element-primary: var(--color-gray-900);
  --k-element-quaternary: var(--color-gray-500);
  --k-element-secondary: var(--color-gray-800);
  --k-element-tertiary: var(--color-gray-700);
  --k-element-warning: var(--color-orange-500);
  --k-element-white: var(--color-gray-white);
  --k-element-brand-primary: var(--color-teal-600);
  --k-element-brand-primary-light: var(--color-teal-300);
  --k-element-brand-quinary: var(--color-teal-700);
  --k-element-brand-seocondary: var(--color-blue-600);
  --k-element-brand-tertiary: var(--color-teal-400);
  --k-text-additional: var(--color-gray-500);
  --k-text-black: var(--color-gray-990);
  --k-text-disabled: var(--color-gray-500);
  --k-text-emphasis: var(--color-gray-990);
  --k-text-information: var(--color-blue-700);
  --k-text-information-light: var(--color-blue-700);
  --k-text-inverse: var(--color-gray-white);
  --k-text-link: var(--color-blue-600);
  --k-text-link-hovered: var(--color-blue-700);
  --k-text-link-pressed: var(--color-blue-700);
  --k-text-nagative: var(--color-red-600);
  --k-text-nagative-light: var(--color-red-600);
  --k-text-positive: var(--color-green-700);
  --k-text-positive-light: var(--color-green-700);
  --k-text-primary: var(--color-gray-950);
  --k-text-secondary: var(--color-gray-800);
  --k-text-tertiary: var(--color-gray-700);
  --k-text-warning: var(--color-orange-800);
  --k-text-warning-light: var(--color-orange-800);
  --k-text-white: var(--color-gray-white);
  --k-text-brand-primary: var(--color-teal-700);
  --k-text-brand-seocondary: var(--color-teal-600);
  --k-text-brand-tertiary: var(--color-teal-500);

  .themeDark {
    --k-bg-base: var(--color-navy-950);
    --k-bg-brand: var(--color-teal-900);
    --k-bg-brand-02: var(--color-navy-900);
    --k-bg-disabled: var(--color-navy-opacity-8);
    --k-bg-information: var(--color-blue-opacity-12);
    --k-bg-layer-01: var(--color-navy-980);
    --k-bg-layer-02: var(--color-gray-900);
    --k-bg-layer-03: var(--color-navy-930);
    --k-bg-nagative: var(--color-red-opacity-8);
    --k-bg-nature: var(--opacity-light-6);
    --k-bg-nature-02: var(--opacity-light-8);
    --k-bg-positive: var(--color-green-opacity-8);
    --k-bg-skeleton: var(--color-gray-950);
    --k-bg-warning: var(--color-orange-opacity-8);
    --k-bg-fill-dark: var(--color-gray-white);
    --k-bg-fill-information: var(--color-blue-400);
    --k-bg-fill-light: var(--color-navy-980);
    --k-bg-fill-nagative: var(--color-red-400);
    --k-bg-fill-nature: var(--color-gray-600);
    --k-bg-fill-point: var(--color-blue-500);
    --k-bg-fill-positive: var(--color-green-500);
    --k-bg-fill-primary: var(--color-teal-600);
    --k-bg-fill-quaternary: var(--color-gray-800);
    --k-bg-fill-secondary: var(--color-navy-600);
    --k-bg-fill-tertiary: var(--color-navy-600);
    --k-bg-fill-warning: var(--color-orange-400);
    --k-bg-overlay-brand-hovered: var(--color-teal-opacity-8);
    --k-bg-overlay-brand-pressed: var(--color-teal-opacity-16);
    --k-bg-overlay-dimmed: var(--opacity-dark-80);
    --k-bg-overlay-focused: var(--opacity-dark-80);
    --k-bg-overlay-hovered: var(--opacity-light-3);
    --k-bg-overlay-hovered-emphasis: var(--opacity-light-16);
    --k-bg-overlay-line-emphasis: var(--opacity-light-3);
    --k-bg-overlay-pressed: var(--opacity-light-8);
    --k-bg-overlay-pressed-emphasis: var(--opacity-light-32);
    --k-bg-overlay-selected: var(--opacity-dark-80);
    --k-border-addition: var(--color-gray-700);
    --k-border-opacity-01: var(--opacity-light-6);
    --k-border-opacity-02: var(--opacity-light-12);
    --k-border-brand: var(--color-teal-600);
    --k-border-brand-emphhasis: var(--color-teal-500);
    --k-border-disabled: var(--color-gray-800);
    --k-border-emphasis: var(--color-gray-500);
    --k-border-information: var(--color-blue-500);
    --k-border-nagative: var(--color-red-500);
    --k-border-point: var(--color-blue-100);
    --k-border-positive: var(--color-green-500);
    --k-border-primary: var(--color-gray-600);
    --k-border-secondary: var(--color-gray-700);
    --k-border-tertiary: var(--color-gray-800);
    --k-border-warning: var(--color-orange-500);
    --k-components-accodian-bg: var(--color-gray-800);
    --k-components-accodian-item: var(--color-gray-600);
    --k-components-accodian-text: var(--color-gray-500);
    --k-components-popup-bg: var(--color-navy-800);
    --k-components-scroll-bar: var(--color-gray-700);
    --k-components-scroll-bg: var(--color-navy-940);
    --k-components-tab-bg: var(--color-gray-800);
    --k-components-tab-text: var(--color-gray-500);
    --k-components-table-btn-fill: var(--k-bg-fill-quaternary);
    --k-components-table-cell-bg: var(--color-navy-930);
    --k-components-table-header: var(--color-gray-950);
    --k-components-footer: var(--color-gray-950);
    --k-components-switch: var(--color-gray-700);
    --k-element-black: var(--color-gray-900);
    --k-element-disabled: var(--color-gray-800);
    --k-element-information: var(--color-blue-500);
    --k-element-inverse: var(--color-gray-white);
    --k-element-nagative: var(--color-red-500);
    --k-element-nature: var(--color-gray-600);
    --k-element-point: var(--color-blue-100);
    --k-element-positive: var(--color-green-500);
    --k-element-primary: var(--color-gray-200);
    --k-element-quaternary: var(--color-gray-600);
    --k-element-secondary: var(--color-gray-300);
    --k-element-tertiary: var(--color-gray-400);
    --k-element-warning: var(--color-orange-500);
    --k-element-white: var(--color-gray-white);
    --k-element-brand-primary: var(--color-teal-600);
    --k-element-brand-primary-light: var(--color-teal-300);
    --k-element-brand-quinary: var(--color-teal-500);
    --k-element-brand-seocondary: var(--color-blue-600);
    --k-element-brand-tertiary: var(--color-teal-400);
    --k-text-additional: var(--color-gray-600);
    --k-text-black: var(--color-gray-990);
    --k-text-disabled: var(--color-gray-600);
    --k-text-emphasis: var(--color-gray-10);
    --k-text-information: var(--color-blue-400);
    --k-text-information-light: var(--color-blue-300);
    --k-text-inverse: var(--color-gray-950);
    --k-text-link: var(--color-blue-400);
    --k-text-link-hovered: var(--color-blue-300);
    --k-text-link-pressed: var(--color-blue-300);
    --k-text-nagative: var(--color-red-400);
    --k-text-nagative-light: var(--color-red-300);
    --k-text-positive: var(--color-green-400);
    --k-text-positive-light: var(--color-green-300);
    --k-text-primary: var(--color-gray-50);
    --k-text-secondary: var(--color-gray-400);
    --k-text-tertiary: var(--color-gray-500);
    --k-text-warning: var(--color-orange-300);
    --k-text-warning-light: var(--color-orange-300);
    --k-text-white: var(--color-gray-10);
    --k-text-brand-primary: var(--color-teal-300);
    --k-text-brand-seocondary: var(--color-teal-400);
    --k-text-brand-tertiary: var(--color-teal-500);
  }
}
